body {
  padding-top: 80px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.btn:hover {
  opacity: 0.6;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.tag-list {
  list-style-type: none;
}
.tag-list > li {
  display: inline-block;
}
.likes {
  text-align: right;
}
.negative {
  color: #f00;
}
.positive {
  color: #008000;
}
.buffer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-offset {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}
