doctype
html
    head
        title JokeBook
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/app.css")
    body(ng-app="app")
        block main-content
        include scripts
        include currentUser