.container
    .well
        form.form-horizontal(name="jokeCreateForm")
            fieldset
                legend Post A Joke
                .form-group
                    label.col-md-2.control-label(for="first-name") Joke Title
                    .col-md-10
                        input.form-control(type="text", placeholder="Title", ng-model="joke.title", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Joke Content
                    .col-md-10
                        textarea.form-control(placeholder="Content", ng-model="joke.body", required)
                .form-group
                    label.col-md-2.control-label(for="username") Joke Tags
                    .col-md-10(tag-selector='')
                .pull-right
                    button.btn.btn-primary(ng-click="create(joke)", ng-disabled="jokeCreateForm.$invalid") Post
                    a.btn.btn-primary(href="#/") Cancel
