.container
    .jumbotron
        .row
            .col-md-8
                h1 Welcome to JokeBook
                h2 The funniest jokes in the world
            .col-md-4
                img(src="img/doge.png", width=300, height=300)


        h2 Top 10 Jokes

        table.table.table-striped
            thead
                tr
                    td Joke Title
                    td Joke Author
                    td Type
                    td Likes
            tbody
                tr(ng-repeat="joke in jokes")
                    td {{ joke.title }}
                    td
                        a(href="#/user-details/{{joke.user._id}}") {{ joke.user.username }}
                    td
                        a(href="#/jokes-by-tag/{{joke.tags[0]}}") {{ joke.tags[0]}}

                    td {{ joke.likes }}
                    td
                        a.btn.btn-primary.btn-xs(href="#/joke/{{joke._id}}") View
