.container
    .jumbotron
        h1 Welcome to JokeBook
        h2 The funniest jokes in the world


        .jumbotron
        h2 Latest 10 Jokes

        table.table.table-striped
            thead
                tr
                    td Joke Title
                    td Joke Author
                    td Likes
            tbody
                tr(ng-repeat="joke in jokes")
                    td {{ joke.title }}
                    td
                    a(href="#/user-details/{{joke.user._id}}") {{ joke.user.username }}
                    td {{ joke.likes }}
                    td
                        a.btn.btn-primary.btn-xs(href="#/joke/{{joke._id}}") View
