.container
    .jumbotron
        h2 Jokes

        table.table.table-striped
            thead
                tr
                    td Joke Title
                    td Joke Author
                    td Date Created
                    td Likes
            tbody
                tr(ng-repeat="joke in jokes")
                    td {{ joke.title }}
                    td {{ joke.user }}
                    td {{ joke.date | date: 'medium'}}
                    td {{ joke.likes }}
                    td
                        a.btn.btn-primary.btn-xs(href="#/joke/{{joke._id}}") View



