.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                legend Change Settings
                .form-group
                    label.col-md-2.control-label(for="first-name") First Name
                    .col-md-10
                        input.form-control(type="text", placeholder="First Name", ng-model="user.firstName", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Last Name
                    .col-md-10
                        input.form-control(type="text", placeholder="Last Name", ng-model="user.lastName", required)
                .pull-right
                    button.btn.btn-primary(ng-click="update(user)", ng-disabled="profileForm.$invalid") Update
                    a.btn.btn-primary(href="#/") Cancel
        br

        .pull-right
            a.btn.btn-primary.btn-xs(href="#/create-joke") Create Joke
        fieldset
            legend Your Jokes
            table.table.table-striped
                thead
                    tr
                        td Joke Title
                        td Likes
                tbody
                    //tr(ng-repeat="joke in yourJokes")
                    //    td {{ joke.title }}
                    //    td {{ joke.likes }}



