.container
    .well
        h2 {{user.firstName+' '+user.lastName}}

        form.form-horizontal(name="profileForm" ng-show="identity.isAuthorizedForRole('admin')")
            fieldset
                legend Change Settings
                .form-group
                    label.col-md-2.control-label(for="first-name") First Name
                    .col-md-10
                        input.form-control(type="text", placeholder="First Name", ng-model="user.firstName")
                .form-group
                    label.col-md-2.control-label(for="last-name") Last Name
                    .col-md-10
                        input.form-control(type="text", placeholder="Last Name", ng-model="user.lastName")
                .form-group
                    label.col-md-2.control-label(for="user-type") User Type
                    .col-md-10
                        select(ng-model="user.roles[0]")
                            option admin
                            option user

                .form-group
                    .col-md-6
                        input(type="text" class="form-control validity" id="image" placeholder="Avatar URL"   ng-model="user.avatar")
                    .col-md-6.image-container
                        img(width="250" heigth="250" ng-src="{{user.avatar}}" src="")
                .pull-right
                    button.btn.btn-primary(ng-click="update(user)", ng-disabled="profileForm.$invalid") Update
                    a.btn.btn-primary(href="#/") Cancel

        fieldset
            legend {{user.firstName}}'s Jokes
            table.table.table-striped
                thead
                    tr
                        td Joke Title
                        td Likes
                        td Date Posted
                tbody
                    tr(ng-repeat="joke in jokes" ng-show="joke.user._id === user._id")
                        td {{ joke.title }}
                        td {{ joke.likes }}
                        td {{ joke.date | date:'medium'}}
                        td
                            a.btn.btn-primary.btn-xs(href="#/joke/{{joke._id}}") View





